.portfolio {
    background-color: skyblue;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-image: url("../images/portfolio.jpg");
    background-size: cover;
    .wrapper {
        width: 40%;
        min-width: 570px;
        margin-top: 80px;
    }
    .container {
        width: 100%;
        padding: 30px 30px 50px;
        background-color: white;
        border: 2px solid rgba(255, 255, 255, 0.06);
        border-radius: 10px;
        box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2);
        backdrop-filter: blur(10px);
    }
    .container * {
        font-family: "Poppins", sans-serif;
        color: black;
        font-weight: 500;
    }
    h2 {
        margin-bottom: 50px;
        letter-spacing: 2px;
        text-align: center;
        font-size: 33px;
        font-weight: bold;
    }
    .skills:not(:last-child) {
        margin-bottom: 30px;
    }
    .details {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
    }
    .rod {
        position: relative;
        border: 2px solid #0d96e0;
        border-radius: 20px;
    }
    .rod div {
        position: relative;
        width: 0;
        height: 9px;
        border-radius: 10px;
        background-color: #0d96e0;
    }
    #html-rod {
        animation: html-fill 2s forwards;
    }
    @keyframes html-fill {
        100% {
            width: 90%;
        }
    }
    #css-rod {
        animation: css-fill 2s forwards;
    }
    @keyframes css-fill {
        100% {
            width: 75%;
        }
    }
    #js-rod {
        animation: js-fill 2s forwards;
    }
    @keyframes js-fill {
        100% {
            width: 62%;
        }
    }
    #jQuery-rod {
        animation: jQuery-fill 2s forwards;
    }
    @keyframes jQuery-fill {
        100% {
            width: 70%;
        }
    }
    #js-rod {
        animation: js-fill 2s forwards;
    }
    @keyframes js-fill {
        100% {
            width: 80%;
        }
    }
    .about {
        background-color: aliceblue;
        border-radius: 15px;
        height: 50vh;
        width: 35vw;
    }
    .name {
        font-size: 3rem;
        padding: 7px;
    }
    .discription {
        font-size: 1.5rem;
        padding: 20px;
    }
}